---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ ocp4_workload_tenant_argocd_user_project_prefix }}{{ ocp4_workload_tenant_argocd_user_username }}
  namespace: {{ ocp4_workload_tenant_argocd_user_namespace }}
  labels:
    app.kubernetes.io/managed-by: agnosticd
spec:
  description: "Project for {{ ocp4_workload_tenant_argocd_user_username }}"
  destinations:
  - namespace: "*-{{ ocp4_workload_tenant_argocd_user_username }}"
    server: https://kubernetes.default.svc
{% for ns in ocp4_workload_tenant_argocd_user_extra_destinations %}
  - namespace: "{{ ns }}"
    server: https://kubernetes.default.svc
{% endfor %}
  sourceRepos:
  - "*"
  clusterResourceWhitelist:
{% for resource in ocp4_workload_tenant_argocd_user_cluster_resource_whitelist %}
  - group: "{{ resource.group }}"
    kind: {{ resource.kind }}
{% endfor %}
  roles:
  - name: user-role
    description: "Role for {{ ocp4_workload_tenant_argocd_user_username }}"
    policies:
    - >-
      p, proj:{{ ocp4_workload_tenant_argocd_user_project_prefix }}{{ ocp4_workload_tenant_argocd_user_username }}:user-role,
      applications, *,
      {{ ocp4_workload_tenant_argocd_user_project_prefix }}{{ ocp4_workload_tenant_argocd_user_username }}/*,
      allow
    groups:
    - "{{ ocp4_workload_tenant_argocd_user_username }}"
