apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ ocp4_workload_tenant_keycloak_user_openshift_api_url }}
  name: cluster
contexts:
- context:
    cluster: cluster
    user: admin
  name: default
current-context: default
users:
- name: admin
  user:
    token: {{ ocp4_workload_tenant_keycloak_user_openshift_api_token }}
