---
apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  name: {{ ocp4_workload_tenant_devspaces_devworkspace_name }}
  namespace: {{ ocp4_workload_tenant_devspaces_namespace }}
  labels:
    created-by: agnosticd
    annotations:
      che.eclipse.org/che-editor: che-incubator/che-code/latest
spec:
  routingClass: che
  started: true
  contributions:
  - name: ide
    uri: {{ ocp4_workload_tenant_devspaces_devworkspace_devfile }}
{% if ocp4_workload_tenant_devspaces_ide_components | default([]) | length > 0 %}
    components:
{% for component in ocp4_workload_tenant_devspaces_ide_components %}
    - name: {{ component.name }}
      container:
{% if component.env | default([]) | length > 0 %}
        env:
{% for env_var in component.env %}
        - name: {{ env_var.name }}
          value: {{ env_var.value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
  template:
    components: {{ ocp4_workload_tenant_devspaces_devworkspace_components | to_json }}
