---
apiVersion: v1
kind: Secret
metadata:
  name: devworkspace-env
  namespace: {{ ocp4_workload_tenant_devspaces_namespace }}
  labels:
    created-by: agnosticd
    controller.devfile.io/mount-to-devworkspace: "true"
    controller.devfile.io/watch-secret: "true"
  annotations:
    controller.devfile.io/mount-as: env
type: Opaque
stringData:
{% for env_var in ocp4_workload_tenant_devspaces_devfile_env_vars %}
  {{ env_var.name }}: "{{ env_var.value }}"
{% endfor %}
