---
apiVersion: v1
kind: Secret
metadata:
  name: llama-stack-env-secret
  namespace: {{ _ns_private_lmaas_namespace }}
type: Opaque
stringData:
  GRANITE_VLLM: {{ (ns_private_lmaas_models | selectattr('name', 'equalto', ns_private_lmaas_chat_model) | first).url }}/v1
  GRANITE_TOKEN: {{ (ns_private_lmaas_models | selectattr('name', 'equalto', ns_private_lmaas_chat_model) | first).token }}
