---
apiVersion: v1
kind: Secret
metadata:
  name: llama-stack-env-secret
  namespace: {{ _ns_private_lmaas_namespace }}
type: Opaque
stringData:
  GRANITE_VLLM: {{ ns_private_lmaas_granite_url }}
  GRANITE_TOKEN: {{ ns_private_lmaas_granite_token }}
